<div class="col-lg-12 col-md-12 mt-5">
    <div class="container">
      <div class="card text-center">
        <div class="card-header h3">Hello Admin </div>
        <div class="card-body">
          <h5 class="card-title">Welcome to Historiacl Palace</h5>
          <p class="card-text"> A visit to a historical place is entertaining and instructive. Agra is a famous historical place. It is well known for the Taj. People from all over the world flock to have a glimpse of this dream in marble. I too visited Agra last month to see the Taj. I was overjoyed by the majestic beauty of the Taj right at the outer gate. The serene and silent minarets standing at the four corners appeared to be four sentries guarding the eternal peace of the royal couple. I reached the marble steps and looked up. I saw the big dome of the Taj. Then I went inside and watched the beautiful engravings on the walls. The tombs of Shah Jehan and Mumtaz lay on the ground floor. The beauty of the Taj is beyond description. I felt charmed.</p>
          <a href="#" class="btn btn-primary" data-mdb-ripple-init></a>
        </div>
        <div class="card-footer text-muted"></div>
      </div>
    </div>
</div>