<div class="col-md-12 col-lg-8	mx-auto">
	<div class="container border-2 bg-light ">
		<div class="col-lg-12 col-sm-12">
			<h3 class="mt-2">Edit Page </h3>
			<%= render 'form', best_time_to_visit: @best_time_to_visit %>
		</div>
	</div>
</div>