<!-- <div class="col-md-12 col-lg-12	mx-auto"> -->
	<div class="container border-2 bg-light ">
		<div class="col-lg-12 col-sm-12 col-md-12">
			<h3 class="mt-2">Add Room Details </h3>
			<%= render 'form', room: @room %>
		</div>
	</div>
</div>
